.hero {
  padding: 2vh 18vh;
  width: 100%;
  /* background-image: url(../../assets/images/hero-image.png); */
  /* background-repeat: no-repeat;
     background-position: 18vh 2vh;
     background-size: 170vh; */
}

.gg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-text h3,
.hero-p1,
.hero-btn {
  position: relative;
}

.hght {}

.hero-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: -12vh;
}

.hero-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9.74vh;
  line-height: 9.74vh;
  background: linear-gradient(90deg,
      #558cee 4.96%,
      #4f6aea 23.27%,
      #6a63e8 44.56%,
      #805be5 69.8%,
      #9552e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.05em;
  margin: 40px 593.46px 0px 0px;
  text-align: left !important;
  width: 507px;
  height: 136px;
}

.hero-p1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 3.65vh;
  line-height: 4.87vh;
  color: rgba(3, 7, 16, 1);
  width: 29.37vh;
  white-space: nowrap;
  height: 6.84vh;
  padding: 0.76vh 2.28vh;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 2.43vh;
  margin-bottom: 8.37vh;
  background: #a1a8de;
  border-radius: 27px;
}

.hero-btn {
  width: 28.15vh;
  padding: 2.43vh 4.56vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 3.65vh;
  line-height: 4.87vh;
  white-space: nowrap;
  color: #fff;
  background: #2a6fea;
  margin-bottom: 12.48vh;
  border: none;
}

.CCN-C,
.CCP-C {
  opacity: 1;
  background: #fff;
  border-radius: 50%;
  height: 3.5vh;
  width: 3.5vh;
  padding: 3.5px 3.5px 3.5px 2px;
  margin: 35vh 6vh;
}

.CCPI-C {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'%3E%3Cpath d='M209.63603896932108,48L97.63603896932108,160L209.63603896932108,272L222.36396103067892,259.27207793864216L123.09188309203677,160L222.36396103067892,60.72792206135786L209.63603896932108,48z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.CCNI-C {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'%3E%3Cpath d='M110.36396103067894,48L222.36396103067892,160L110.36396103067894,272L97.63603896932108,259.27207793864216L196.90811690796323,160L97.63603896932108,60.72792206135786L110.36396103067894,48z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.CI-C [data-bs-target] {
  /* width: 2.5vh;
     height: 2.5vh; */

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  border: 5px solid #aac5f7;
  opacity: 1;
  margin-right: 34.12px;
  margin-bottom: 20px;
}

.CI-C .active {
  /* width: 4vh !important;
     height: 4vh !important; */
  width: 17px;
  height: 17px;
  background-color: rgba(42, 111, 234, 1) !important;
  border: 2px solid #aac5f7 !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
  .hero {
    padding: 2vh 12vh;
  }

  /* .hero {
    padding: 3vh 12vh;
  } */

  .hero-text {
    margin: auto 0 auto -11vh;
  }

  .hero-text h3 {
    font-size: 9vh;
    line-height: 1;
    width: 400px;
  }

  .hero-p1 {
    font-size: 3.2vh;
    padding: 0vh 1.5vh;
    width: 25vh;
    height: 4.8vh;
    margin-top: -3vh;
    margin-bottom: 0;
  }

  .hero-btn {
    width: 25vh;
    padding: 0;
    height: 7vh;
    font-size: 3.2vh;
    margin-bottom: 12vh;
    margin-top: 9vh;
    font-weight: 300;
  }

  .CI-C {
    margin-bottom: -1vh !important;
  }

  .CI-C [data-bs-target] {
    width: 2vh !important;
    height: 2vh !important;
    border: 4px solid #aac5f7 !important;
  }

  .CI-C .active {
    width: 2.5vh !important;
    height: 2.5vh !important;
    border: 2px solid #aac5f7 !important;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 6vh !important;
  }
}

@media screen and (max-width: 963px) {
  .hero {
    padding: 0vh 24vh 0 23.5vh;
    background-position: 23.5vh 2vh;
    background-size: 122vh;
  }

  .hero-text {
    margin-left: -8vh;
  }

  .hero-text h3 {
    font-size: 6.5vh;
    width: 300px;
  }

  .hero-p1 {
    font-size: 2.8vh;
    width: 22vh;
    margin-top: -9vh;
  }

  .hero-btn {
    width: 22vh;
    height: 6vh;
    font-size: 2.8vh;
    margin-top: 5vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 5vh !important;
  }

  .CI-C [data-bs-target] {
    margin-right: 20px;
  }
}

@media screen and (max-width: 816px) {
  .hero {
    padding: 2vh 10vh 0 10vh;
  }

  .hero-p1 {
    font-size: 2.5vh;
    width: 20vh;
    height: 4.5vh;
    margin-top: -10vh;
  }

  .hero-btn {
    width: 20vh;
    height: 6vh;
    font-size: 2.5vh;
    margin-top: 6vh;
    margin-bottom: 6.5vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 4.5vh !important;
  }
}

@media screen and (max-width: 764px) {
  .hero {
    padding: 2vh 21.5vh 0 21.5vh;
  }

  .hero-text {
    margin-left: -4vh;
  }

  .hero-text h3 {
    font-size: 5vh;
    width: 250px;
  }

  .hero-p1 {
    margin-top: -13vh;
  }

  .hero-btn {
    margin-bottom: 4vh;
  }

  .CI-C .active {
    /* width: 9px !important;
         height: 10px !important; */
    border: 1px solid #aac5f7 !important;
  }

  .CI-C [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
    margin-right: 10px;
    border: 4px solid #aac5f7 !important;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 4vh;
    width: 2.5vh;
    height: 2.5vh;
  }
}

@media screen and (max-width: 690px) {
  .hero {
    padding: 2vh 15.5vh 0 15.5vh;
  }

  .hero-text {
    margin-left: -5vh;
  }

  .hero-text h3 {
    font-size: 5vh;
    width: 250px;
  }

  .hero-p1 {
    font-size: 2.2vh;
    width: 18vh;
    height: 4.2vh;
    margin-top: -13vh;
  }

  .hero-btn {
    width: 18vh;
    height: 6vh;
    font-size: 2.2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 615px) {
  .hero {
    padding: 2vh 8.5vh 0 8.5vh;
  }

  .hero-text {
    margin-left: -7vh;
  }

  .hero-text h3 {
    font-size: 4vh;
    width: 200px;
  }

  .hero-p1 {
    font-size: 2vh;
    width: 16vh;
    margin-top: -15vh;
  }

  .hero-btn {
    width: 16vh;
    height: 5vh;
    font-size: 2vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 2.5vh !important;
    width: 2.5vh !important;
    height: 2.5vh !important;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    padding: 2vh 5vh 0 5vh;
  }

  .hero-text {
    margin-left: -5.5vh;
  }

  .hero-text h3 {
    font-size: 3vh;
    width: 150px;
  }

  .hero-p1 {
    font-size: 1.8vh;
    width: 15vh;
    margin-top: -17vh;
    line-height: 2.9vh;
    height: 3vh;
  }

  .hero-btn {
    width: 13vh;
    height: 5vh;
    font-size: 1.8vh;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
  }
}

@media screen and (max-width: 473px) {
  .hero {
    padding: 2vh 5vh 0 5vh;
  }

  .hero-text {
    margin-left: -4.2vh;
  }

  .hero-text h3 {
    font-size: 2.8;
    width: 150px;
  }

  .hero-p1 {
    font-size: 1.5vh;
    width: 11.5vh;
    margin-top: -17vh;
    line-height: 2.9vh;
    height: 3vh;
    padding: 0 0.7vh;
  }

  .hero-btn {
    width: 11vh;
    height: 4.2vh;
    font-size: 1.5vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 2.5vh !important;
    width: 2.5vh !important;
    height: 2.5vh !important;
  }

  .CI-C {
    margin-bottom: 0.5vh !important;
  }

  .CI-C [data-bs-target] {
    width: 1vh !important;
    height: 1vh !important;
    border: 2px solid #aac5f7 !important;
  }

  .CI-C .active {
    width: 1.5vh !important;
    height: 1.5vh !important;
    border: 1px solid #aac5f7 !important;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    padding: 2vh 5vh 0 5vh;
  }

  .hero-text h3 {
    font-size: 2.5vh;
    width: 120px;
  }

  .hero-p1 {
    font-size: 1.4vh;
    width: 11vh;
    margin-top: -18vh;
    line-height: 2.2vh;
    height: 2.2vh;
  }

  .hero-btn {
    width: 11vh;
    height: 3vh;
    font-size: 1.4vh;
    line-height: 1.5vh;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 2vh !important;
    width: 2vh !important;
    height: 2vh !important;
  }
}

@media screen and (max-width: 369px) {
  .hero-text {
    margin: auto 0 auto -3vh;
  }

  .hero-btn {
    margin-top: 2vh;
    margin-bottom: -1vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 1.5vh !important;
  }
}

@media screen and (max-width: 325px) {
  .hero {
    padding: 2vh 3vh 0 3vh;
  }
}

@media screen and (max-width: 285px) {
  .hero-text {
    margin-left: -2vh;
  }

  .hero-text h3 {
    font-size: 2vh;
    width: 100px;
  }

  .hero-p1 {
    margin-top: -19.5vh;
    font-size: 1.3vh;
    width: 10vh;
  }

  .hero-btn {
    margin-top: 2vh;
    margin-bottom: -3vh;
    width: 10vh;
  }

  .CI-C [data-bs-target] {
    width: 0.8vh !important;
    height: 0.8vh !important;
    border: 2px solid #aac5f7 !important;
  }

  .CI-C .active {
    width: 1vh !important;
    height: 1vh !important;
    border: 1px solid #aac5f7 !important;
  }
}

@media screen and (max-width: 260px) {
  .hero {
    padding: 2vh 2vh 0 2vh;
  }

  .hero-text {
    margin-left: -1.2vh;
  }

  .hero-btn,
  .hero-text h3 {
    font-size: 50%;
  }

  .hero-text h3 {
    width: 70px;
  }

  .hero-p1 {
    margin-top: -20.5vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 1.5vh !important;
    width: 1.8vh !important;
    height: 1.8vh !important;
  }
}

.hero {
  padding: 2vh 18vh;
  width: 100%;
}

.gg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-text h3,
.hero-p1,
.hero-btn {
  position: relative;
}


.hero-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: -12vh;
}

.hero-text h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 9.74vh;
  line-height: 9.74vh;
  background: linear-gradient(90deg, #558CEE 4.96%, #4F6AEA 23.27%, #6A63E8 44.56%, #805BE5 69.8%, #9552E0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.05em;
  margin: 40px 593.46px 0px 0px;
  text-align: left !important;
  width: 507px;
  height: 136px;
}

.hero-p1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3.65vh;
  line-height: 4.87vh;
  color: rgba(3, 7, 16, 1);
  width: 29.37vh;
  white-space: nowrap;
  height: 6.84vh;
  padding: 0.76vh 2.28vh;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 2.43vh;
  margin-bottom: 8.37vh;
  background: #A1A8DE;
  border-radius: 27px;
}

.hero-btn {
  width: 28.15vh;
  padding: 2.43vh 4.56vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3.65vh;
  line-height: 4.87vh;
  white-space: nowrap;
  color: #fff;
  background: #2A6FEA;
  margin-bottom: 12.48vh;
  border: none;
}


.CCN-C,
.CCP-C {
  opacity: 1;
  background: #fff;
  border-radius: 50%;
  height: 3.5vh;
  width: 3.5vh;
  padding: 3.5px 3.5px 3.5px 2px;
  margin: 35vh 6vh;
}


.CCPI-C {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'%3E%3Cpath d='M209.63603896932108,48L97.63603896932108,160L209.63603896932108,272L222.36396103067892,259.27207793864216L123.09188309203677,160L222.36396103067892,60.72792206135786L209.63603896932108,48z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.CCNI-C {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'%3E%3Cpath d='M110.36396103067894,48L222.36396103067892,160L110.36396103067894,272L97.63603896932108,259.27207793864216L196.90811690796323,160L97.63603896932108,60.72792206135786L110.36396103067894,48z'%3E%3C/path%3E%3C/svg%3E") !important;

}

.CI-C [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 5px solid #AAC5F7;
  opacity: 1;
  margin-right: 34.12px;
  margin-bottom: 20px;
}

.CI-C .active {
  width: 17px;
  height: 17px;
  background-color: rgba(42, 111, 234, 1) !important;
  border: 2px solid #AAC5F7 !important;
}

/* MEDIA QUERIES */


/* 
@media screen and (max-width: 1100px) {
  .hero {
    padding: 2vh 12vh;
  }

  .hero-text {
    margin: auto 0 auto -11vh;
  }

  .hero-text h3 {
    font-size: 9vh;
    line-height: 1;
    width: 400px;
  }

  .hero-p1 {
    font-size: 3.2vh;
    padding: 0vh 1.5vh;
    width: 25vh;
    height: 4.8vh;
    margin-top: -3vh;
    margin-bottom: 0;
  }

  .hero-btn {
    width: 25vh;
    padding: 0;
    height: 7vh;
    font-size: 3.2vh;
    margin-bottom: 12vh;
    margin-top: 9vh;
    font-weight: 300;
  }

  .CI-C {
    margin-bottom: -1vh !important;
  }

  .CI-C [data-bs-target] {
    width: 2vh !important;
    height: 2vh !important;
    border: 4px solid #AAC5F7 !important;
  }

  .CI-C .active {
    width: 2.5vh !important;
    height: 2.5vh !important;
    border: 2px solid #AAC5F7 !important;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 6vh !important;
  }

}

@media screen and (max-width:963px) {


  .hero {

    padding: 0vh 24vh 0 23.5vh;
    background-position: 23.5vh 2vh;
    background-size: 122vh;
  }

  .hero-text {
    margin-left: -8vh;
  }

  .hero-text h3 {
    font-size: 6.5vh;
    width: 300px;
  }

  .hero-p1 {
    font-size: 2.8vh;
    width: 22vh;
    margin-top: -9vh;
  }

  .hero-btn {
    width: 22vh;
    height: 6vh;
    font-size: 2.8vh;
    margin-top: 5vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 5vh !important;
  }



  .CI-C [data-bs-target] {
    margin-right: 20px;
  }
}

@media screen and (max-width: 816px) {
  .hero {
    padding: 2vh 10vh 0 10vh;
  }

  .hero-p1 {
    font-size: 2.5vh;
    width: 20vh;
    height: 4.5vh;
    margin-top: -10vh;
  }

  .hero-btn {
    width: 20vh;
    height: 6vh;
    font-size: 2.5vh;
    margin-top: 6vh;
    margin-bottom: 6.5vh;
  }


  .CCN-C,
  .CCP-C {
    margin: auto 4.5vh !important;
  }
}

@media screen and (max-width: 764px) {
  .hero {
    padding: 2vh 21.5vh 0 21.5vh;
  }

  .hero-text {
    margin-left: -4vh;
  }

  .hero-text h3 {
    font-size: 5vh;
    width: 250px;
  }

  .hero-p1 {
    margin-top: -13vh;
  }

  .hero-btn {
    margin-bottom: 4vh;
  }

  .CI-C .active {
    border: 1px solid #AAC5F7 !important;

  }

  .CI-C [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
    margin-right: 10px;
    border: 4px solid #AAC5F7 !important;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 4vh;
    width: 2.5vh;
    height: 2.5vh;
  }
}

@media screen and (max-width: 690px) {
  .hero {
    padding: 2vh 15.5vh 0 15.5vh;
  }

  .hero-text {
    margin-left: -5vh;
  }

  .hero-text h3 {
    font-size: 5vh;
    width: 250px;
  }

  .hero-p1 {
    font-size: 2.2vh;
    width: 18vh;
    height: 4.2vh;
    margin-top: -13vh;
  }

  .hero-btn {
    width: 18vh;
    height: 6vh;
    font-size: 2.2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

}

@media screen and (max-width: 615px) {
  .hero {
    padding: 2vh 8.5vh 0 8.5vh;
  }

  .hero-text {
    margin-left: -7vh;
  }

  .hero-text h3 {
    font-size: 4vh;
    width: 200px;
  }

  .hero-p1 {
    font-size: 2vh;
    width: 16vh;
    margin-top: -15vh;
  }

  .hero-btn {
    width: 16vh;
    height: 5vh;
    font-size: 2vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 2.5vh !important;
    width: 2.5vh !important;
    height: 2.5vh !important;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    padding: 2vh 5vh 0 5vh;
  }

  .hero-text {
    margin-left: -5.5vh;
  }

  .hero-text h3 {
    font-size: 3vh;
    width: 150px;
  }

  .hero-p1 {
    font-size: 1.8vh;
    width: 15vh;
    margin-top: -17vh;
    line-height: 2.9vh;
    height: 3vh;
  }

  .hero-btn {
    width: 13vh;
    height: 5vh;
    font-size: 1.8vh;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
  }

}

@media screen and (max-width: 473px) {
  .hero {
    padding: 2vh 5vh 0 5vh;
  }

  .hero-text {
    margin-left: -4.2vh;
  }

  .hero-text h3 {
    font-size: 2.8;
    width: 150px;
  }

  .hero-p1 {
    font-size: 1.5vh;
    width: 11.5vh;
    margin-top: -17vh;
    line-height: 2.9vh;
    height: 3vh;
    padding: 0 .7vh;
  }

  .hero-btn {
    width: 11vh;
    height: 4.2vh;
    font-size: 1.5vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 2.5vh !important;
    width: 2.5vh !important;
    height: 2.5vh !important;
  }

  .CI-C {
    margin-bottom: .5vh !important;
  }


  .CI-C [data-bs-target] {
    width: 1vh !important;
    height: 1vh !important;
    border: 2px solid #AAC5F7 !important;
  }

  .CI-C .active {
    width: 1.5vh !important;
    height: 1.5vh !important;
    border: 1px solid #AAC5F7 !important;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    padding: 2vh 5vh 0 5vh;
  }



  .hero-text h3 {
    font-size: 2.5vh;
    width: 120px;
  }

  .hero-p1 {
    font-size: 1.4vh;
    width: 11vh;
    margin-top: -18vh;
    line-height: 2.2vh;
    height: 2.2vh;
  }

  .hero-btn {
    width: 11vh;
    height: 3vh;
    font-size: 1.4vh;
    line-height: 1.5vh;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 2vh !important;
    width: 2vh !important;
    height: 2vh !important;
  }
}

@media screen and (max-width: 369px) {


  .hero-text {
    margin: auto 0 auto -3vh;
  }

  .hero-btn {
    margin-top: 2vh;
    margin-bottom: -1vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 1.5vh !important;
  }
}

@media screen and (max-width: 344px) {

  .hero {
    padding-top: 9vh;
  }
}

@media screen and (max-width: 285px) {

  .hero-text {
    margin-left: -2vh;
  }

  .hero-text h3 {
    font-size: 2vh;
    width: 100px;
  }

  .hero-p1 {
    margin-top: -19.5vh;
    font-size: 1.3vh;
    width: 10vh;
  }

  .hero-btn {
    margin-top: 2vh;
    margin-bottom: -3vh;
    width: 10vh;
  }

  .CI-C [data-bs-target] {
    width: .8vh !important;
    height: .8vh !important;
    border: 2px solid #AAC5F7 !important;
  }

  .CI-C .active {
    width: 1vh !important;
    height: 1vh !important;
    border: 1px solid #AAC5F7 !important;
  }
}

@media screen and (max-width:260px) {
  .hero {
    padding-top: 8vh;
  }

  .hero-text {
    margin-left: -1.2vh;
  }

  .hero-btn,
  .hero-text h3 {
    font-size: 50%;
  }

  .hero-text h3 {
    width: 70px;
  }

  .hero-p1 {
    margin-top: -20.5vh;
  }

  .CCN-C,
  .CCP-C {
    margin: auto 1.5vh !important;
    width: 1.8vh !important;
    height: 1.8vh !important;
  }
} */