.top-product {
    padding: 5px;
    display: grid;
    place-items: center;
}
.prod-name {
    margin: 10px 0;
}
.prod-price {
    margin-bottom: 0px;
}
.countdown {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px 30px;
}
.progress {
    height: 8px;
    width: 160px;
    border-radius: 5px;
    background-color: #f8eab6;
}
@media screen and (min-width: 500px) {
    .top-prods {
        justify-content: flex-start;
    }
    .top-product {
        place-items: start;
        max-width: 218px !important;
    }
}